*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#app
{
    height: 100vh;
    7
}

/* Header */
header
{
    height: 10vh;
    background-color: #2E3A46;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

header img
{
    height: 70%;
}

/* main */
main
{
    background-color: #1E2D3B;
    height: 90vh;


}

.container
{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card
{
    width: calc((100% / 5) - 10px);
    background-color: #2E3A46;
    text-align: center;
}

.imgPoster
{
    width: 100%;
}